%body {
  max-width: 1920px;

  margin: 0 auto;
  padding: 0 30px;
}

%inner {
  max-width: 1110px;

  margin: 0 auto;
}

%section-title {
  text-align: center;
  span {
    font-size: 21px;
  }
  h2 {
    font-family: $Noto;
    font-size: 30px;

    margin-top: 15px;
  }
  margin: 0 auto;
  margin-bottom: 60px;
}