.our-salons {
  min-height: 541px;
  @extend %body;

  background-image: url(../images/us-salons/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.our-salons__inner {
  min-height: 541px;
  text-align: center;
  @extend %inner;

  padding: 100px 0;

  p {
    max-width: 730px;
    font-size: 18px;
    
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .section__title {
    margin-bottom: 45px;
  }

  button {
    @include btn1($color: #333, $bgcolor: #fff, $border: 0);
  }
}